<div class='bottom'>
    <h1 id='follow'>Follow Along on <div id='instagram'>Instagram</div></h1>
    <div id='insta' class='ui container'>
        <iframe src="https://snapwidget.com/embed/505387" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:150px"></iframe>
    </div>
</div>

<div class='footer'>
    <hr>
    <div id='copyright'>&copy;2018 Hart to Hearts</div>    
</div>
<script async defer data-pin-hover="true" data-pin-tall="true" data-pin-round="true" src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>