<html>
    <head>
        <title>Hart to Hearts</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive|Dawning+of+a+New+Day|Homemade+Apple|Kristi|Mr+De+Haviland|Parisienne|Montserrat" rel="stylesheet">
        <link rel="icon" type="image/png" href="/images/favicon.ico">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src='/scripts/app.js' type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js' type="text/javascript"></script>
        <meta name = "viewport" content = "width=device-width">
    </head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-inverse bg-success">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href='/posts' class="item" id='link'>Home</a></li>
        <li><a href='/about' class="item" id='link'>About</a></li>
        <li><a href='/categories/motherhood' class="item" id='link'>Motherhood</a></li>
        <li><a href='/categories/interiorstyle' class="item" id='link'>Interior Style</a></li>
        <li><a href='/categories/wellness' class="item" id='link'>Wellness</a></li>
        <li><a href='/contact' class="item" id='link'>Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li><a class='item icon' id='link' href='https://www.instagram.com/hart_to_hearts/?hl=en' target=_blank><i class="fab fa-instagram itemIcon"></i></a></li>
            <li><a class='item icon' id='link' href='https://www.pinterest.com/hart_to_hearts/' target=_blank><i class="fab fa-pinterest itemIcon"></i></a></li>
            <li><a class='item icon' id='link' href='https://www.bloglovin.com/blogs/hart-to-hearts-11975363' target=_blank><i class="fas fa-plus itemIcon"></i></a></li>
            <li><!--<a class='item icon' id='link'><i class="fas fa-search itemIcon"></i></a>-->
        </ul>
    </div>
  </div>
</nav>


    <h1>Hart &nbsp;to Hearts</h1>

