<div class="four wide column">
        <h3 class="ui block header">About Me</h3>
        <div id='aboutMe'>
            <img src='/images/Amy.jpg' id='aboutMeImage' nopin="nopin"><br>
            <div id='aboutMeText'>
            Hi friend, welcome to my blog! I'm Amy, wife to my college sweetheart Sean, mama to our 3 littles Mason, Emory and Jolie and fur mama to our lab Maggie.
            Follow along as I write about life as I know it from my "hart" to yours!
            </div>
        </div>
        <h3 class="ui block header">Follow Along & Subscribe</h3>
        <div class='ui container' id='social'>
            <a href='https://www.instagram.com/hart_to_hearts/?hl=en' target=_blank id='icon'><i class="fab fa-instagram"></i></a>
            <a href='https://www.pinterest.com/hart_to_hearts/' target=_blank id='icon'><i class="fab fa-pinterest"></i></a>
            <a href='https://www.bloglovin.com/blogs/hart-to-hearts-11975363' target=_blank id='icon'><i class="fas fa-plus"></i></a>
        </div>
        <h3 class="ui block header">Blog Archive</h3>
        <div class="ui selection dropdown fluid simple">
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">Choose Month</div>
            <div class="menu">
                <a href="/montharchives/january" class="item">January 2018</a>
                <a href="/montharchives/february" class="item">February 2018</a>
            </div>
        </div>
    </div>
</div>
