<div class="four wide column">
        <h3 class="ui block header">About Me</h3>
        <div id='aboutMe'>
            <img src='/images/Amy.jpg' id='aboutMeImage' nopin="nopin"><br>
            <div id='aboutMeText'>
            Hi friend, welcome to my blog! I'm Amy, wife to my college sweetheart Sean, mama to our 3 littles Mason, Emory and Jolie and fur mama to our lab Maggie.
            Follow along as I write about life as I know it from my "hart" to yours!
            </div>
        </div>
        <h3 class="ui block header">Follow Along & Subscribe</h3>
        <div class='ui container' id='social'>
            <a href='https://www.instagram.com/hart_to_hearts/?hl=en' target=_blank id='icon'><i class="fab fa-instagram"></i></a>
            <a href='https://www.pinterest.com/hart_to_hearts/' target=_blank id='icon'><i class="fab fa-pinterest"></i></a>
            <a href='https://www.bloglovin.com/blogs/hart-to-hearts-11975363' target=_blank id='icon'><i class="fas fa-plus"></i></a>
        </div>
        <h3 class="ui block header">Blog Archive</h3>
        <div class="ui selection dropdown fluid simple" style='z-index: 1;'>
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">Choose Month</div>
            <div class="menu">
                <a href="/montharchives/december15" class="item">December 2015</a>
                <a href="/montharchives/november16" class="item">November 2016</a>
                <a href="/montharchives/march17" class="item">March 2017</a>
                <a href="/montharchives/april17" class="item">April 2017</a>
                <a href="/montharchives/june17" class="item">June 2017</a>
            </div>
        </div><br>
        <div class="ui selection dropdown fluid simple" id='poshmark'>
            <div class="poshmark-closet-widget" style="width: 200px;">
                <a class="posts-con" href="https://poshmark.com/closet/amyhart23?utm_source=cwgt" style="display:block" target="_blank">
                    <img alt="Closet Items" class="posts-img" style="display: block; width: 225px;" src="https://poshmark.com/widget/closet_image?user_id=58cedbaf0c2b58d0a8ad58ea&amp;width=300&amp;posts_count=6&amp;widget_id=5b6509ed3dabbd3394f7dc67">
                    <div class="pplogo-con" style="text-align:center; width:225px;  border: 2px solid #f5f2ee;border-top:0;border-bottom:0; padding: 0 14px 0 14px">
                        <div class="hr">
                            <span class="sub" style="background:#fff; padding: 0 7px; width: 225px;">
                                <img src="https://d2zlsagv0ouax1.cloudfront.net/assets/widgets/pplogo@2x-1d2da6c3854b874d6fb0afd4274b64b8.png" width="17px" style='width: auto;'></span>
                                <hr style="margin: -14px auto 0px auto;border-bottom: 1px solid #000"></div></div></a>
                                <div class="footer-section" style="background: #fff;">
                                    <div class="shop-more" style="text-align: center;border-bottom: 2px solid #f5f2ee;border-right: 2px solid #f5f2ee;border-left: 2px solid #f5f2ee;padding: 10px 0; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#000; width: 225px">Shop more of <a class="black" href="https://poshmark.com/closet/amyhart23?referrer_widget_id=5b6509ed3dabbd3394f7dc67&amp;utm_source=cwgt" style="text-decoration: none;color:#000;" target="_blank" title="amyhart23">my closet</a>&nbsp;on <a class="black" href="https://poshmark.com/?referrer_widget_id=5b6509ed3dabbd3394f7dc67&amp;utm_source=cwgt" style="text-decoration: none;color:#000;" target="_blank" title="Poshmark">Poshmark</a></div></div></div>
            </div>
        </div>
    </div>
</div>
