<% include ./partials/header %>

<div class='ui container'>
    <h2 class='category'>About</h2>
<div class="ui stackable mobile grid">
    <div class="twelve wide column">
        <div class='content'>
                <div class='aboutImage'>
                    <img class='ui small bordered image' src='images/kids.jpeg'>
                    <img class='ui small bordered image' src='images/amyjolie.jpeg'>
                    <img class='ui small bordered image' src='images/amysean.jpg'>
                </div>
                <div class='description1'>
                    <p>
                    Hi friend! Welcome to my blog. I'm Amy, wife to my college sweetheart Sean, mama to our three littles Mason,
                    Emory and Jolie, and fur mama to our lab Maggie.
                    </p>
                    
                    <p>
                    I'm a Jersey girl born and raised however, our family relocated to Pennsyvania in 2014 which means I have officially 
                    been pumping my own gas for four years now. I went to college for teaching but crossed over to the corporate world 
                    shortly after Emory was born and I never looked back. Some of my favorite things include the beach, a good quote, 
                    lavender, anything acoustic and barre3. Buy me an iced coffee and I'll be your friend forever.
                    </p>
                    
                    <p>
                    Thanks for being here!
                    </p>
                </div>
        </div>
    </div>

   <% include ./partials/rightrail %><br>
</div>

<% include ./partials/footer %>