<% include ./partials/header %>

<div class='ui container'>
    <h2 class='category'>Contact</h2>
<div class="ui grid">
    <div class="twelve wide column">
        <h2>Your message was sent successfully!</h2>  
    </div>    
    
    <% include ./partials/rightrail %>
</div>

<% include ./partials/footer %>