<% include ./partials/header %>

<div class='ui container'>
    <h2 class='category'>Contact</h2>
  <div class="ui mobile stackable grid">
      <div class="twelve wide column">
          <div class='ui form contactForm'>
            <form action="/send-email" method="post">
            <div class="ui form">
              <label for="name">Name:</label>
              <input type="text" class="form-control" name="name" class='a'>
            </div>   
            <div class="ui form">
              <label for="email">Email Address:</label>
              <input type="email" class="form-control" name="email">
            </div>
  
            <div class="ui form">
              <label for="subject">Subject:</label>
              <input type="text" class="form-control" name="subject">
            </div>
      
            <div class="ui form">
              <label for="body">Message:</label>
              <textarea cols="5" rows="5"class="form-control" name="body"></textarea>
            </div>
            <br>        
            <div class="ui form">
              <button type="submit" class="ui small secondary button">Send</button>
            </div>
            </form>
          </div>    
      </div>
    <% include ./partials/rightrail %><br>
</div>

<% include ./partials/footer %>