<% include ./partials/header %>

<script>

</script>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog Post</div>
    <form class="ui form" action="/posts" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>        
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="Image">
        </div>
        <div class='field'>
            <label>Categories</label>
            <select class='form-control' name="blog[category1]">
                <option value="" disabled selected>Select a category</option>
                <option value="Motherhood">Motherhood</option>
                <option value="Interior Style">Interior Style</option>
                <option value="Wellness">Wellness</option>
                <option value="Life">Life</option>
            </select>
        </div>        
        <div class='field'>
            <select class='form-control' name="blog[category2]">
                <option value="" disabled selected>Select a category</option>
                <option value="Motherhood">Motherhood</option>
                <option value="Interior Style">Interior Style</option>
                <option value="Wellness">Wellness</option>
                <option value="Life">Life</option>
            </select>
        </div>        
        <div class='field'>
            <select class='form-control' name="blog[category3]">
                <option value="" disabled selected>Select a category</option>
                <option value="Motherhood">Motherhood</option>
                <option value="Interior Style">Interior Style</option>
                <option value="Wellness">Wellness</option>
                <option value="Life">Life</option>
            </select>
        </div>
        <div class="field">
            <label>Blog Summary</label>
            <textarea name="blog[summary]"></textarea>
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" rows='30' id='textAreaNew'></textarea>
        </div>
        <input type="submit" class="ui green inverted button">
        <input type="button" class="ui blue inverted button add" value="Add Image" onclick="addtxt('textAreaNew')">
        <input type="button" class="ui purple inverted button edit" value="Add Signature" onclick="addsig('textAreaNew')">
</div>

<% include ./partials/footer %>