<% include ./partials/header %>

<div class="container">
    <div class="row">
        <h2 style="text-align: center">Sign Up</h2>
        <div class='ui form'>
        <div style="width: 30%; margin: 25px auto;">
            <form action='/register' method='POST'>
                <div class='field'>
                <div class="form-group">
                    <input class='form-control' type='text' name='username' placeholder='username'>
                </div></div>
                <div class='field'>
                <div class='form-group'>
                    <input class='form-control' type='password' name='password' placeholder='password'>
                </div>        </div>
                <div class='field'>
                <div class='form-group'>
                    <button class='ui button'>Register</button>
                </div></div>
            </form>
        </div></div>
    </div>
</div>