h1 {
    font-family: 'Mr De Haviland', cursive;
    font-size: 125px;
    font-weight: 100;
    text-align: center;
    color: black;
    margin-bottom: 0px;
    line-height: 1.1em;
    padding-top: 30px;
    padding-bottom: 20px;
    letter-spacing: 4;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: 3px;
    font-size: 24px;
    color: black;
}

hr {
    background-color: rgba(255,182,193, 0.9);
    height: 2px;
    border: 0px;
    margin: 0px;
}


img.ui.small.image {
    display: inline-block;
    height: 187px;
    width: auto;
}

label {
    font-weight: bold;
}

.aboutImage {
    text-align: center;
    margin-bottom: 50px;
}

.border {
    border: 1px solid black;
    padding: 10px;
}

.bottom {
    background-color: rgba(255,182,193, 0.2);
}

.category {
    text-align: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 50px;
    font-size: 26px;
}

.column {
    text-align: center;
}
.commentBox {
    height: auto;
    border-top: 1px solid #f3f3f3;
    padding-top: 5px;
    padding-bottom: 20px;
    min-height: 100px;
    margin-top: 20px;
}

.contactForm {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    text-align: left;
}

.container.main {
    margin-top: 7.0em;
}

.delete-form {
    margin-top: 15px;
}

.description {
    color: #797977;
    line-height: 1;
    letter-spacing: 1px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

.description:First-Letter {
    color: rgba(255,182,193, 0.9);
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-size: 40px;
    padding-right: 5px;
    font-family: 'Parisienne', cursive;
}

.extra {
    text-align: right;
}

.fa-user {
    font-size: 13px;
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
}

.formattedText {
    white-space: pre-wrap;
}

.four.wide.column {
    margin-bottom: 60px;
}

.icon {
    width: 25px;
    color: silver;
}

.itemIcon {
    color: #f3f3f3;   
    text-decoration: none;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
}

.itemIcon:hover {
    color: rgb(255,182,193);
}

.medium.bordered.image {
    margin-left: auto;
    margin-right: auto;
    vertical-align: baseline;
}

.meta {
    text-align: center;
    margin: 5px;
}

.old {
    text-align: right;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    letter-spacing: 2;
    font-weight: bolder;
    padding-bottom: 20px;
    text-decoration: none;
}

.postFooter {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.postItemIcon {
    color: rgba(0, 0, 0, 0.2);   
    text-decoration: none;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -3px;
}

.postItemIcon:hover {
    color: rgb(255,182,193);
}

.secondary.pointing.menu{
    background-color: transparent;
    color: black;
    top: 0;
    width: 100%;
    z-index: 0;
    border: none;
    letter-spacing: 2;
}

.shareButtons {
    float: right;
}

.ui.block.header {
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    border-radius: 0px;
    border: 2px solid #f3f3f3;
    letter-spacing: 2;
}

.ui.block {
    width: 100%;
}

.cover {
    object-fit: cover;
}

#image img{
    height: 435px;
    width: 360px;
}

#imageDiv {
    padding: 4px;
}

.ui.secondary.button {
    border-radius: 0;
}

.ui.text.container {
    margin-top: 20px;
}

#aboutMe {
    text-align: center;
}

#aboutMeImage {
    height: 200px;
    width: auto;
    border-radius: 100%;
}

#aboutMeText {
    text-align: justify;
    color: #797977;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 12.5px;
    -webkit-font-smoothing: antialiased;
    padding-top: 10px;
}

#blogBody {
    padding-top: 25px;
    padding-bottom: 40px;
}

#blogTile {
    padding: 5px;
    /*width: 22.75%;*/
    display: inline-block;
    text-align: center;
    margin: 5px;
}

#blogTileButton{
    width: 100%;
    margin-top: 10px;
    background-color: rgba(255,182,193, 0.2);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
}

#blogTileImage {
    height: 180px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

#button {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
}

#category {
    text-transform: uppercase;
    position: absolute;
    left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

#commentButton {
    text-decoration: none;
    float: right;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    border-radius: 0px;
    border: 2px solid #f3f3f3;
    letter-spacing: 2;
    padding: 5px 10px;
}

#commentCount {
    margin-bottom: 20px;
    text-align: left;
}

#commentDate {
    float: right;
    padding-top:0px;
}

#commentSection {
    margin-bottom: 50px;
}
#commentText {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

#copyright {
    padding-bottom: 25px;
    padding-top: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    letter-spacing: 2;
    font-weight: bold;
}

#date {
    text-align: center;
    border: 1px black solid;
    color: black;
    text-transform: uppercase;
    padding: 3px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    letter-spacing: 2;
    font-weight: bold;
}

#delete {
    width: 20%;
}

#follow {
    font-size: 60px;    
    line-height: 40px;
    padding-top: 25px;
}

#icon {
    font-size: 25px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255,182,193);
    text-decoration: none;
}

#insta {
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;
}

#instagram {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}

#link {
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

#link:hover {
    color: rgb(255,182,193);
}

#link.active.item {
    text-decoration: none;
    color: rgb(255,182,193);
    border-bottom: 1px solid black;
}

#mainContent {
    padding-top: 7px;
}

#nav {
    border: none;
    margin-top: 0px;
}

#old {
    text-decoration: none;
    color: black;
    font-size: 13px;
    letter-spacing: 5;
}

#preview {
    height: auto;
}

#previewCommentCount {
    font-size: 9px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-right: 3px;
}

#previewDate {
    text-align: center;
    /*border: 1px black solid;*/
    color: black;
    text-transform: uppercase;
    padding: 3px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    letter-spacing: 2;
}

#previewTitle {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}

#postDetail {
  width: 100%;
}

#postLine {
    margin-top: 10px;
}

#postLink {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

#social {
    text-align: center;
}

#title {
    text-align: center;
    margin-bottom: 20px;
}

#username {
    font-weight: bold;
    margin-bottom: 15px;
    vertical-align: middle;
}