<% include ../partials/header %>

<div class='ui container'>
    <h2 class='category'>Wellness</h2>
<div class="ui grid">
    <div class="twelve wide column">
        <% blogs.reverse().forEach(function(blog){ %>
                <% if(blog.category1 == 'Recipes' || 
                      blog.category2 == 'Recipes' || 
                      blog.category3 == 'Recipes'
                      ){ %>
                    <% var date = new Date(blog.created); %>
                    <% var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};%>  
        <div class="meta">
            <span id='date'><%= date.toLocaleDateString('en-us', options) %></span>
        </div>
        <div class="item" id='title'>
            <h2><%= blog.title %></h2>
        </div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui fluid image" src="<%= blog.image %>" width="300px">
                <div class="description" id='blogBody'>
                    <p><%- blog.body %></p>
                </div>
                </div>
                </div>
                <br>
                <% } %>
            <% }) %>
            </div>
    <% include ../partials/rightrail %>
</div>

<% include ../partials/footer %>